.footer {
    margin-top: 120px;
}

.footer_items {
    display: flex;
    flex-direction: column;
}

.footer_navigation {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.footer_navigation_item {
    list-style-type: none;
    font-size: 22px;
    cursor: pointer;
    transition-duration: 0.3s;
    user-select: none;
}

.footer_navigation_item:hover {
    color: #FBB90F;
}

.footer_small_texts {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_small_text_df {
    display: flex;
    column-gap: 20px
}

.footer_small_text_item {
    color: #767676;
}

.footer_title {
    font-size: 250px;
    display: flex;
}

.logo_block {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.footer_item_title {
    margin-top: 120px;
}
.footer_item_small {
    margin-top: 50px;
}

.footer_small_text_df_mobile {
    display: none;
}

@media screen and (max-width: 750px) {
    .footer_navigation {
        flex-wrap: wrap;
        row-gap: 5.5px;
    }
    .footer_title {
        font-size: 72px;
    }
    .logo_block img {
        width: 20px;
        height: 20px;
    }
    .footer_item_title {
        margin-top: 20px;
    }
    .footer_item_small {
        margin-top: 20px;
    }
    .footer_small_text_df {
        display: none;
    }
    .footer_small_text_df_mobile {
        display: block;
        padding-bottom: 20px;
    }
}