.portfolio_section {
    margin-top: 300px;
}

.portfolio_df {
    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolio_title {
    font-size: 17vw;
    color: #222222;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    -webkit-animation: focus-in-expand 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: focus-in-expand 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.portfolio_image1 {
    position: relative;
}

.portfolio_image3 {
    position: relative;
}
  
.fade-in-up {
    animation: fadeInUp 2s ease;
}

@keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
}
  
.fade-in-up {
    animation: fadeInUp 3s ease-out;
}

.portfolio_df_btn {
    display: flex;
    column-gap: 5px;
}

.portfolio_title_with_btn1 {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 10%;
    text-align: center;
    z-index: 3;
}

.portfolio_title_with_btn1 h3 {
    color: #ffffff;
    font-size: 40px;
}

.btn_portfolio_1 {
    margin-top: 30px;
    color: #ffffff;
    font-size: 22px;
    display: flex;
    align-items: center;
    column-gap: 10px;
    cursor: pointer;
    justify-content: center;
}

.circle {
    width: 50px;
    height: 50px;
    border-radius: 100px;
    background: #FBB90F;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
}

.portfolio_image2 {
    position: relative;
    margin-top: 200px;
    height: 1200px;
}

.portfolio_image2_title {
    font-size: 120px;
    max-width: 1000px;
    text-align: center;
    line-height: 96px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 80%;
}

.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10; 
}

.btn {
    background-color: transparent;
    border: 2px solid #1D1D1D;
    border-radius: 100px;
    width: 110px;
    height: 50px;
    padding: 10px 30px 10px 30px;
}

.arrow_btn {
    width: 50px;
    height: 50px;
    border-radius: 100px;
    background-color: #FFEFC1;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
}

.carousel_block {
    margin-top: 65px;
}


.section_two {
    margin-top: 120px;
    position: relative;
    overflow: hidden;
    height: max-content;
}

.section_two_title {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    height: max-content;
    align-self: flex-start;
}

.section_two_df {
    column-gap: 100px;
    position: relative;
}

.section_two_title h3 {
    font-size: 18px;
}

.list {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    margin-left: 50%;
}

.list_item {
    font-size: 72px;
    max-width: 720px;
    transition-duration: 0.3s;
    color: #434343;
    cursor: pointer;
}

.list_item:hover {
    color: #FBB90F;
    margin-left: 35px;
}

.active_item {
    color: #FBB90F;
    margin-left: 35px;
}

.list_item_mobile {
    font-size: 24px;
    max-width: 720px;
    transition-duration: 0.3s;
    color: #434343;
    cursor: pointer;
}

.list_item_mobile:hover {
    color: #FBB90F;
}

.section_two_img {
    width: 450px;
    height: auto;
    object-fit: cover;
    margin-top: 65px;
    animation: imageFade 0.7s ease-in-out;
    filter: blur(1)
}

.section_two_img.loaded {
    opacity: 1;
    filter: blur(0);
}

.section_three {
    margin-top: 170px;
}

.section_three_items {
    display: flex;
    justify-content: space-between;
}

.section_three_item {
    
}

.section_three_text {
    margin-top: 15px;
    font-size: 20px;
    max-width: 350px;
}

.section_three_btn {
    margin-top: 50px;
    font-size: 22px;
    display: flex;
    column-gap: 10px;
    align-items: center;
    cursor: pointer;
    transition-duration: 0.3s;
    width: max-content;
    padding: 10px 10px;
    border-radius: 5px;
}

.section_three_btn:hover {
    background: rgba(38, 38, 38, 0.045);
}

.arrow_block {
    width: 50px;
    height: 50px;
    border-radius: 100px;
    background-color: #FBB90F;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition-duration: 0.3s;
    user-select: none;
}

.arrow_block:hover {
    background-color: #fbd36e;
}

.section_two_df_mobile {
    display: none;
}

.section_three_image1 {
    width: 25vw;
    height: auto;
    object-fit: cover;
}

.section_three_image2 {
    width: 25vw;
    height: auto;
    object-fit: cover;
}

.section_three_image3 {
    width: 30vw;
    height: auto;
    object-fit: cover;
}

.hero_image {
    width: 100%;
    height: auto;
}

.hero_image2 {
    width: 100%;
    height: auto;
    margin-top: 100px;
}

@keyframes imageFade {
    0% {
        opacity: 0;
    } 100% {
        opacity: 1;
    }
}

@media screen and (max-width: 750px) {
    .btn {
        display: none;
    }
    .carousel_block {
        margin-top: 10px;
    }
    .section_two {
        margin-top: 60px;
    }
    .section_two_df {
        display: none;
    }
    .section_two_title h3 {
        font-size: 38px;
    }
    .list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 10px;
        margin-top: 20px;
    }
    .list_item {
        font-size: 24px;
    }
    .section_two_img {
        width: 100%;
        height: 430px;
        object-fit: cover;
        margin-top: 20px;
    }
    .section_three {
        margin-top: 60px;
    }
    .section_three_items {
        flex-direction: column;
        row-gap: 20px;
    }
    .section_three_image1, .section_three_image2, .section_three_image3 {
        width: 100%;
        height: 465px;
        object-fit: cover;
    }
    .portfolio_title_with_btn1 h3 {
        font-size: 38px;
        color: #222222;
        max-width: 350px;
        margin: 0 auto;
    }
    .btn_portfolio_1 {
        color: #222222;
    }
    .section_two_df_mobile {
        display: block;
    }
    .list {
        margin-left: 0px;
    }
    .portfolio_section {
        margin-top: 60px;
    }
    .hero_image {
        width: 100%;
        height: 380px;
        object-fit: cover;
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
        margin-bottom: 30px;
    }
    .portfolio_title_with_btn1 {
        position: static;
        margin-top: 30px;
    }
    .portfolio_image2 {
        margin-top: 200px;
        height: 700px;
    }
    .portfolio_image2_title {
        font-size: 72px;
        line-height: 58px;
    }
    .hero_image2 {
        height: 600px;
        width: 100%;
        object-fit: cover;
        margin-top: 50px;
    }
}

.focus-in-expand {
    font-size: 17vw;
    color: #222222;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    -webkit-animation: focus-in-expand 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: focus-in-expand 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes focus-in-expand {
    0% {
      letter-spacing: -0.5em;
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
}
@keyframes focus-in-expand {
    0% {
      letter-spacing: -0.5em;
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
}